.App {
  text-align: center;
  margin: auto;
  display:flex;
  justify-content:center;
}

.btn {
  margin-left: 7px;
  margin-right: 7px;
}

.Buttons {
  margin: 20px;
  display:flex;
  justify-content:center;
}

.Title {
  display:flex;
  justify-content:center;
  margin-top: 50px
}

.Images {
  margin-top: 25px;
  display:flex;
  justify-content:center;
}

.row {
  margin: 20px;
}